<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cafa</title>

    {{#each css}}
        <link rel="stylesheet" href="C:/Users/Carlos/Documentos/1/public/css/{{style.css}}">
        <link rel="stylesheet" href="C:/Users/Carlos/Documentos/1/public/css/{{reset.css}}">
    {{/each}}

</head>

<body>
    {{{body}}}
    
</body>
</html>