<h1>Bem vindo ao Cafa, Cadastre-se!</h1>
<form action="/add-user" method="post">
    <label for="insertname">Insira seu nome <br><br> <input type="text" required placeholder="nome" name="nome" > </label> <br><br>
    <label for="insertemail">Insira um email válido <br><br> <input type="email" required placeholder="email@dominio.com" name="email"></label> <br><br>

    <label for="inserirdata">Insira a data do seu aniversário <br><br> <input type="date" required ></label> <br><br>

    <label for="insertsenha">Insira uma senha <br><br> <input type="password" required name="senha" ></label> <br><br>

    <label for="submit"><input type="submit"></label>
    
    
</form>
