<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Bayon&display=swap" rel="stylesheet">
    <title>Document</title>


</head>
<style>

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\PARTE DO ARQUIVO RESET.CSS*/

header {
    background: rgba( 255, 255, 255, 0.1 );
    backdrop-filter: blur( 10px );
    -webkit-backdrop-filter: blur( 10px );
    border-radius: 15px;
}
header h1{
/*    font-family: 'Bayon', sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 6vh;*/

font-family: 'Bayon', sans-serif;
font-weight: bolder;
text-align: center;
font-weight: bolder;
font-size: 12vh;
line-height: 144px;
color: #80a9ca;

}
.Text-invit{
    color: aliceblue;
    font-style: italic;
}
.login-page{
    background-image: url('bckground.png');
    background-size: cover;
    background-repeat: no-repeat;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-repeat: no-repeat;
    background-position: center;
}
.form-posit{
    text-align: justify;
    width: 186px;
    border-left: 0px;
    margin: auto;
}
.form-content{

    /*Fundo Formulário*/
    display:table;
    margin:50% auto;
    background: rgba(0,8,0,.5);
    box-sizing: border-box;
    background-filter: blur(50px);
    -webkit-backdrop-filter: blur(5px);
    padding: left 50%;
    color:aliceblue;
    box-shadow: 0 15px 25px rgba(e,0,0,.6);
    border-radius: 10px;
    border-width: 1px;
    padding:23px;
}

form label{
    display:table;
}

form input{
    display: table;

}

form button{
    background: #7879B6;
    border-radius: 5px;
    border-style:outset;
    border-color: #7879B6;
    


}

footer {
    background: rgba(202, 252, 241, 0.9);
    padding: 5% 0;
    color: aliceblue;
}
    /*\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\PARTE DO ARQUIVO STYLE.CSS*/
    </style>
<body>
    <div class="login-page">
        <header>
        <h1>BEM VINDO AO PROJETO CAFA!</h1>
        
        </header>
        <br><br><br><br>
        <p  class="Text-invit">Insira seu nome, data de nascimento e  email,<br> por gentiliza.</p>
        <br><br>
            <section>
                <form class="form-posit" action="/add-user" method="post">
                    <div class="form-content">
                        <label for="insertname">Insira seu nome <br><br> <input type="text" required placeholder="nome" name="nome" > </label> <br><br>

                        <label for="insertsenha">Insira seu email <br><br> <input type="text" required placeholder="Insira seu email" name="valor" ></label> <br><br>

                        <label for="insertdata">Insira sua data de nascimento <br><br> <input type="date" required placeholder="dd/mm/aaaa" name="date" ></label> <br><br>

                        <button  type="Submit">Enviar </button>
                    </div>
                </form>
            </section>
    </div>
    </main>
    <footer>
        <p class="copyright">&copy; Ramo Estudantil IEEE - WolfByte - 2022</p>
    </footer>
</body>
</html>


